# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.tlog
*.dll
Debug/main.obj
Debug/PostProcessing.lastbuildstate
Debug/PostProcessing.log
Debug/vc110.idb
Debug/vc110.pdb
Release/main.obj
Release/PostProcessing.lastbuildstate
Release/PostProcessing.log
Release/vc110.pdb
